version: '3.8'

services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"   # API端口
      - "9001:9001"   # 控制台端口
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - ./minio-data:/data
      - ./minio-config:/root/.minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  xxl-job-admin:
    image: xuxueli/xxl-job-admin:3.1.0
    container_name: xxl-job
    ports:
      - "8082:8082"
    environment:
      PARAMS: >
        --server.port=8082
        --spring.datasource.url=jdbc:mysql://192.168.80.64:33064/xxl_job?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
        --spring.datasource.username=root
        --spring.datasource.password=123456
        --xxl.job.accessToken=herbal-tea
    restart: always

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: >
      redis-server
      --requirepass east300183
      --appendonly yes
    volumes:
      - ./redis/data:/data
    restart: always

  rabbitmq:
    image: rabbitmq:3.13.7-management
    container_name: rabbitmq
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # 管理界面
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - ./rabbitmq/data:/var/lib/rabbitmq
    restart: always


  nacos:
    image: nacos/nacos-server:v2.3.2
    container_name: nacos
    ports:
      - "8848:8848"
      - "9848:9848"
    environment:
      MODE: standalone
      MYSQL_HOST: host.docker.internal
      MYSQL_PORT: 33064
      MYSQL_DATABASE: nacos_config
      MYSQL_USER: root
      MYSQL_PASSWORD: 123456
    restart: always