version: '3'

services:
  alert-webhook:
    build: .
    container_name: alert-webhook
    ports:
      - "5001:5001"
    restart: always
    networks:
      - monitor-net
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - /etc/localtime:/etc/localtime:ro

networks:
  monitor-net:
