wechat:
  miniprogram:
    appid: "wxfe01d98347b5df2c"        # 小程序 AppID
    secret: "4aac8f50ee62b33ab4be5ecb969ee0d1"       # 小程序 AppSecret

server:
  port: 8003

spring:
  application:
    name: authorization-server  # 服务名称
  # 服务名称+开发环境+文件后缀名 = nacos配置的Data Id
  profiles:
    active: mac   #开发环境
  main:
    web-application-type: servlet #reactive
    allow-bean-definition-overriding: true
  config:
    import:
      - optional:nacos:datasource.yml
      - optional:nacos:redis.yml
      - optional:nacos:springdoc.yml
      - optional:nacos:logging.yml

---
spring:
  config:
    activate:
      on-profile: mac
  cloud:
    nacos:
      discovery:
        server-addr: @nacos.server-addr@
        group: spring-cloud-example-dev
        namespace: cb500d3d-c86c-4230-8f7f-f5434caf711a
#        username: nacos
#        password: nacos
        enable: true
      config:
        server-addr: @nacos.server-addr@
        group: spring-cloud-example-dev   # 需要在nacos 的namespace中创建，名字为QD的Service
        namespace: cb500d3d-c86c-4230-8f7f-f5434caf711a # 将QD的namespace中id填入
#        username: nacos
#        password: nacos
        import-check:
          enabled: false
        enable: true
  #        file-extension: yaml # 文件后缀名


#security:
#  ignored=/**:
#  enable-csrf: false
